/* Add here all your CSS customizations */
.juduladmin{
	color: white;
	font-family: "Berlin Sans FB";
	margin-left: 20px;
	margin-top: -20px;
}
.admin{
	color: white;
	font-family: "Berlin Sans FB";
	margin-left: 20px;
	margin-right: 50px;
}